<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Vanderbilt University Library Github Repository</title>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="stylesheets/vustyles.css" />
        <link rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cosmo/bootstrap.min.css" />
    </head>
    <body>
        <nav class="navbar navbar-default ">
            <div class="container">
              <a href="http://rdf.library.vanderbilt.edu/"><img src="http://www.library.vanderbilt.edu/assets/images/logo-vandy-library.png"></a>
                <div class="navbar-header">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container">
            <div class="starter-template">
                <div class="bs-component">
                    <div class="jumbotron">
                        <h2> {{ site.name }} </h2>
                        <p><img class="img-responsive"
                                src="http://www.library.vanderbilt.edu/webimages/Bioimages/magnolia.jpg"
                             /></p>
                        <form action="http://bioimages.vanderbilt.edu/">
                            <input
                                style="color: #FFFFFF; font-size:170%; background-color: #0099FF; font-weight: normal;"
                                type="submit" name="submit" value="Learn More" id="submit" />
                        </form>
                    </div>
                    <div id="div1"> {{ content }} </div>
                </div>
            </div><!-- /.container -->
        </div>
    </body>
</html>
